[MAIN]
ignore=.venv,node_modules,frontend
py-version=3.11

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=missing-function-docstring,missing-class-docstring,missing-module-docstring,duplicate-code,too-few-public-methods,too-many-instance-attributes
